
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@350&display=swap');

.blessingContainer {
  display: flex;
  justify-content: flex-start; /* Aligns items to the left */
  align-items: flex-start; /* Aligns items to the top */
  width: 33%; /* Occupies the left quarter of the page */
  padding-left: 1vh;
  padding-top: 2vh;
  padding-right: 2%;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
  font-weight: 300; /* Uses the thinner weight */
  direction: rtl;
  flex-direction: column;
  text-align: center;
}


#title{
margin-right: 5vw;
  color: rgb(0, 0, 0);
  padding-bottom: 1vh;
  font-size: 1.5rem; /* Adjust the size as needed */
  font-weight: 400;
}
#content{
  font-size: 1.1rem; /* Adjust the size as needed */
  font-weight: 250;
}

#sender{
  margin-right: 5vw;

  font-size: 1rem; /* Adjust the size as needed */
  padding-top: 0.5vh;
}