@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@100;500;700&display=swap');
.App {
    position: fixed;
    background-image: url('./assets/c.png');
    background-size:cover; 
    background-position: center; 
    height: 100vh;
    width: 100vw; 
    top: 0;
    left: 0;  
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(179, 162, 68, 0.727);
    border-radius: 50%;
    animation: circleAnimation 10s linear infinite; /* עיגולים ירדו לאט יותר */
    box-shadow: 0 0 10px rgb(96, 88, 47); /* צל זוהר */
  }
  
  
  #circle1 {
    top: 0;
    left: 10%;
    width: 55px;
    height: 55px;
    animation-delay: 0.5s; /* שהייה שונה באנימציה */
    background-color: #fdf9de8b;
    animation: circleAnimation 10s linear infinite; /* עיגולים ירדו לאט יותר */

  }
  
  #circle2 {
    top: 0;
    left: 25%;
    width: 70px;
    height: 70px;
    animation-delay: 0.7s; /* שהייה שונה באנימציה */
    background-color: #b0742b8b;
    animation: circleAnimation 5s linear infinite; /* עיגולים ירדו לאט יותר */

  }
  
  #circle3 {
    top: 0;
    right: 40%;
    animation-delay: 3s; /* שהייה שונה באנימציה */
    background-color: #fac05c85;
    animation: circleAnimation 8s linear infinite; /* עיגולים ירדו לאט יותר */


  }
  #circle4 {
    top: 0;
    left: 55%;
    animation-delay: 1.1s; /* שהייה שונה באנימציה */
    background-color: #3c1e1787;
    width: 60px;
    height: 60px;

  }  #circle5 {
    top: 0;
    left: 70%;
    animation-delay: 0.5s; /* שהייה שונה באנימציה */
    background-color: #8b69468c;
  }
  #circle8 {
    top: 0;
    left: 5%;
    animation-delay: 2.5s; /* שהייה שונה באנימציה */
    background-color: #7e5e41b3;
  }
  
  #circle6 {
    top: 0;
    left: 90%;
    animation-delay: 1.7s; /* שהייה שונה באנימציה */
    background-color: #b0742b8b;
    width: 80px;
    height: 80px;
  }
  
  #circle7 {
    top: 0;
    left: 30%;
    animation-delay: 3s; /* שהייה שונה באנימציה */
    background-color: #fac05c85;

  }
  @keyframes circleAnimation {
    0% {
      transform: translateY(-100vh);
    }
    100% {
      transform: translateY(calc(100vh + 100px));
    }
  }
  